.flexx1{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr;
   row-gap: 40px;
   width: 1200px;
   /* padding: 20px; */
}
.bitcoindiv{
    /* background-color: aquamarine; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 200px;
    border-right: 1px solid grey;
    /* background-color: blue; */
    /* padding: 20px; */
}
.r{
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
    /* flex-direction: row-reverse; */
    height: 20px;
    width: 60px;
    margin-top: 20px;
}
.rrr{
    width: 11px;
    clip-path: circle();
    background-color: white;
}
.sym{
    padding: 10px;
}
.flag{
    padding: 10px;
}
.soft{
    width: 200px;
    /* background-color: beige; */
    /* border-right: 1px solid grey; */
    /* border-right-width: 0px; */
}

@media (max-width:1224px) {
    .bitcoindiv{
        width: 190px;
        /* background-color: aquamarine; */
        margin-right: 0px;
        /* border-right: 1px solid red; */
    }
    .soft{
        width: 200px;
        /* background-color: beige; */
        /* border-right: 1px solid green; */
    }
    .flexx1{
        /* background-color: brown; */
        width: 1100px;
    }
    /* .flag{
        width: 100px;
    } */
    hr{
        width: 100px;
    }
    /* .flexx1{
        width: 1000px;
    } */
}
@media (max-width: 1177px) {
    .flexx1{
        width: 1100px;
    }
}
@media (max-width: 1127px) {
    .flexx1{
        width: 900px;
    }
}
@media (max-width: 1094px) {
    .flexx1{
        width: 800px;
        /* background-color: brown; */
    }
}
@media (max-width: 1079px) {
    .flexx1{
        width: 700px;
        /* background-color: brown; */
    }
}
@media (max-width: 1017px) {
    /* .flexx1{
        width: 200px;
        background-color: brown;
    } */
    /* .bitcoindiv{
        width: 160px;
    } */
    .soft{
        width: 180px;
    }
}
@media (max-width: 948px) {
    .soft{
        width: 170px;
    }
    .bitcoindiv{
        width: 170px;
        /* padding: 10px; */
        margin-right: 10px;
        /* grid-template-columns: 1fr 1fr; */
        /* display: flex;
        justify-content: space-between; */

    }
    .flag{
        /* width: 150px; */
        /* margin-: 10px;
        padding: 10px; */
        width: 105px;
    }
    /* .flexx1{
        grid-template-columns: 1fr 1fr;
    } */

}
@media (max-width: 880px) {
    .soft{
        width: 160px;
        /* padding: 10px; */
    }
    .bitcoindiv{
        width: 170px;
        /* margin-right: 30p */
        /* padding: 5px; */
    }
    .flag{
        width: 100px;
        /* padding: 0; */
    }
    .r{
        /* margin-right: 20px; */
        /* width: 20px; */
    }
    .sym{
        /* width: 20px; */
    }
    .flexx1{
        row-gap: 20px;
        width: 400px;
    }
    .font{
        font-size: 15px;
    }
}
@media (max-width: 8400px) {
    /* .soft{
        width: 160px;
    }
    .bitcoindiv{
        width: 150px;
    } */
    /* .flexx1{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .bitcoindiv{
        width: 200px;
    }
    .soft{
        width: 200px;
    } */
}
@media (max-width: 640px) {
    .flexx1{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:450px) {
    .flexx1{
        grid-template-columns: 1fr 1fr;
        width: 300px;
    }
    .soft{
        width: 180px;
    }
    .bitcoindiv{
        width: 170px;
    }
}
@media (max-width: 385px) {
    .flexx1{
        width: 200px;
    }
    .soft{
        width: 160px;
    }
    /* .bitcoindiv{
        width: 190px;
    } */
}
@media (max-width: 361px) {
    .flexx1{
        width: 190px;
    }
    .soft{
        width: 150px;
    }
    .bitcoindiv{
        width: 150px;
    }
    .r{
        position: relative;
        right: 10px;
    }
    .flag{
        width: 100px;
        padding: 0px;
    }
}
@media (max-width: 324px) {
    .flexx1{
        width: 200px;
        grid-template-columns: 1fr;
    }
    .soft{
        width: 200px;
    }
    .bitcoindiv{
        width: 200px;
    }
    .r{
        position: relative;
        left: 10px;
    }
    .flag{
        width: 100px;
        padding: 10px;
    }
}